.App {
  text-align: center;
  background-color: white;
  height: 200vh;
  width: 100vw;
  margin-top: -10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.centered{
  text-align: center;
}

.header{
  margin-top: 6%;
  padding-top: 5%;
}

.subheading{
  margin-bottom: 1.5%;
}

.YoutubeVideo{
  display: none;
}

.placeholder-image{
  height: 50%;
  width: 50%;
}

.faq{
  margin-top: 1%;
  text-align: left;
}

.collapsible{
  width: 90%;
  border: 1px solid black;

}

.questionBody{
  padding-left: 3%;
}

.cardStyle{
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
}

.bold{
  font-weight: bold;
}

.s3Player{
  margin-left: 12%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
